#POO o programación orientada a objetos.
Clase es como un molde
- Variables --> Atributos.
- Funciones --> Métodos.
- Constructor --> Constituye una clase.
- Objetos: Comparten atributos, métodos, relaciones que tienen una identidad propia.

In [10]:
class Mascotas:
  pass

In [11]:
a=Mascotas
b=Mascotas

In [12]:
if a==b:
  print("Son igualitos")
else:
  print("Son igualitos")

Son igualitos

In [28]:
class Empleado():
  #Construyendo un constructor
  def __init__(self, nombre, edad, ID, salario):
    self.nombre=nombre
    self.edad=edad
    self.ID=ID
    self.salario=salario

def __repr__(self):
  return f"nombre: {self.nombre}, edad: {self.edad}, ID: {self.ID}. salario {self.salario}"

In [29]:
Sonia=Empleado("Sonia",25,"U00152314",10000000)

In [32]:
print(Sonia)

<__main__.Empleado object at 0x7ff246f6d090>

In [31]:
Sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'ID': 'U00152314', 'salario': 10000000}

In [34]:
madaniel=Empleado("Pirulais",83,"U001512345", 1000000)

In [36]:
if Sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {Sonia.nombre} son iguales")
elif Sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {Sonia.nombre}")
else:
  print(f"El salario de {madaniel.nombre} es mayor al de {Sonia.salario}")

El salario de Pirulais es menor al de Sonia

#Ejercicio Calculadora

In [47]:
class Fraccion:
  #Atributos de clase
  num=0
  den=1

  #Creando el constructor
  def __init__(self,num=0,den=1):
    self.num=num
    self.den=den
  def multiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r
  def imprime(self):
    print(self.num, "/", self.den)

In [48]:
#Creando ojetos tipo fracción
a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [49]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [50]:
c=a1.multiplica(a2)
c.imprime()

32 / 45

In [51]:
type(c)

__main__.Fraccion