#Ejercicios de métodos

#1. Determine el mayor de dos números

In [20]:
def npc(a,b):
  if a>b:
    print(f" {a} es el mayor")
  else:
    print(b," es el mayor")

In [21]:
print(npc(4,5))

5  es el mayor
None

#2. Determine el mayor de tres números (empleando la función anterior).

In [3]:
def npc(a,b):
  if a>b:
    print(f" {a} es el mayor")
  else:
    print(b," es el mayor")

In [4]:
def mayor(x,y,z):
  npc(x,npc(y,z))

In [5]:
print(mayor(4,5,6))

6  es el mayor

TypeError: ignored

#3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [25]:
ejemplo=[3,4,5]
def suma(ejemplo):
  r=ejemplo[0] + ejemplo[1] + ejemplo[2]
  print(r)

In [26]:
suma(ejemplo)

12

#4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [27]:
ejemplo=[3,4,5,6]
def suma(ejemplo):
  r=ejemplo[0] + ejemplo[1] + ejemplo[2] + ejemplo[3]
  print(r)

In [28]:
suma(ejemplo)

18

#5. Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [47]:

a=int(input("Ingrese un número para sumar "))
b=int(input("Ingrese un número para sumar "))
c=int(input("Ingrese un número para sumar "))
d=int(input("Ingrese un número para sumar "))
ejemplo=[a,b,c,d]
print(ejemplo)
def suma(ejemplo):
  r=ejemplo[0] + ejemplo[1] + ejemplo[2] + ejemplo[3]
  print(r)

Ingrese un número para sumar 5
Ingrese un número para sumar 5
Ingrese un número para sumar 6
Ingrese un número para sumar 3
[5, 5, 6, 3]

In [49]:
suma(ejemplo)

19

In [57]:
sumax=[2,2,3,4,5,5,6,6,8,8,8,86]
def sumatotal(sumax):
  total=0
  for i in sumax:
    total= total + i
  print(total)

In [58]:
sumatotal(sumax)

143

#6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [59]:
ejemplo=[0,4,5]
def suma(ejemplo):
  r=ejemplo[0] * ejemplo[1] * ejemplo[2]
  print(r)

In [60]:
suma(ejemplo)

0

#7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [61]:
ejemplo=[3,4,5,1]
def suma(ejemplo):
  r=ejemplo[0] * ejemplo[1] * ejemplo[2] * ejemplo[3]
  print(r)

In [62]:
suma(ejemplo)

60

#8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

In [75]:
mul=[2,2,6,5,4,3,3,5,6,7]
def multotal(mul):
  total=1
  for i in mul:
    total= total * i
  print(total)

In [76]:
multotal(mul)

907200

#9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [97]:
x=str(input("ingresa una palabra: "))
def invertido(palabra):
  ejemplo=len(x)
  ejemplo=x[ejemplo::-1]
  print(ejemplo)

ingresa una palabra: Hola

In [98]:
invertido(x)

aloH

#10. Calcular el factorial de un número

In [103]:
def factorial(x):
  mul=1
  for i in range(1,x+1):
    mul= mul*i
  print(mul)

In [104]:
factorial(3)

6

#11. Si un número está dentro de un rango.

In [125]:
a=int(input("Ingrese un número: "))

def num(x,y):
    if a>=x and a<=y:
      print(a, "está en el rango")
    else:
      print(a, "no está en el rango")

Ingrese un número: 8

In [126]:
num(0,10)

8 está en el rango

#12. Capture el número de mayúsculas y minúsculas en una oración.

In [132]:
a=str(input("Ingrese una palabra: "))
ejemplo=[a,b,c,d]
print(ejemplo)
def suma(ejemplo):
  r=ejemplo[0],  ejemplo[1],  ejemplo[2],  ejemplo[3]
  print(r)

Ingrese una palabra: dada
['dada', 5, 6, 3]

In [133]:
suma(ejemplo)

TypeError: ignored

#13. El ejercicio anterior, pero almacene los resultados en un diccionario.

#14. . Reciba una lista y retorne sólo los elementos pares

In [134]:
pares=[23,23,43,64]
def totalpares(pares):
  w=len(pares)
  for i in range(0,w):
    if pares[i]%2==0:
      print(pares[i])
 
totalpares(pares)

64

#15. Reciba una lista y retorne sólo los elementos de posición impar

In [135]:
impares=[23,23,43,64]
def totalimpares(impares):
  w=len(impares)
  totalimpare=0
  for i in range(0,w,2):
    print(impares[i])

totalimpares(impares)

23
43

#16. Recibir un número y decir si es perfecto o no. Ejemplo: 6 es perfecto, porque la suma de sus divisores es 6 (1+2+3)

#17. Chequear si una palabra es palíndromo o no. Ejemplo: “Ana” es un palíndromo

In [145]:
def invertir(p):
  x=len(p)
  x=p[x::-1]
  if p==x:
    print("Es palíndromo")
  else:
    print("No es palíndromo")

p=str(input("Escribe una palabra "))
invertir(p)

Escribe una palabra ana
Es palíndromo

#18. Imprimir la fila n del triángulo de pascal

#19. Imprimir una frase tipo oración. Ejemplo: Ingresa: esta es una oración e imprime Esta es una oración

#20. Acepte palabras separadas por – y las ordene alfabéticamente. Ejemplo: ingresa verde-rojo-amarillo-blanco-negro Regresa: amarillo-blanco-negro-rojo-verde

#Lambda
Es una función anónima
Se invoca con la palabra clave lambda

Declarar
lambda (variable):(función)

In [146]:
#Aquí x es una variable local
a=lambda x:x+2

In [147]:
print(a(1))

3

In [149]:
#Aquí x es una variable global
x=int(input("Ingrese un número: "))
print(a(x))

Ingrese un número: 5
7

In [150]:
par=lambda x:x%2==0

In [151]:
print(par(2))

True

In [152]:
if par:
  print("Es par")
else:
  print("Es impar")

Es par